
<header>
    <div id="head1">
        <h2> Codieal</h2>

    </div>
        <div id="head2">
            <a href="/">Home</a>
            <a href="/user/userKyc">User Kyc</a>
            <a href="/booking/booking">User Booking</a>
        </div>
</header>
