<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 
  <link rel="stylesheet" type="text/css" href="/css/user.css">
<div class="container">
    <div class="container5" style="margin-bottom: 100px;">
    <div class="card">
        <div class="card-header">
            <h3>User Calendra Booking</h3>
        </div>
        <div class="card-body">
            <form action="/user/createBooking" method="POST">
            <input type="text" name="user1" placeholder="Enter First user" required id="name">
            <input type="text" name="user2" placeholder="Enter second user" required id="name">
            <input type="text" name="purpose" placeholder="Booking Purpose" required class="username1">
            <label for="date">Choose a date:</label>
            <input type="date" name="date" placeholder="Select Date" required class="username1" id="date">
            <label for="time1">Choose a time for user1:</label>
            <input type="time" name="time1" placeholder="Select time" required class="username1" id="time1">
            <label for="time2">Choose a time for user2:</label>
            <input type="time" name="time2" placeholder="Select time" required class="username1" id="time2">

            <input type="Checkbox" name="checked" id="check">Remember Me</input>
            <span>
                <input type="submit" value="Register" id="content1">
                <!-- <a class="btn" id="content1" href="#">Login</a> -->
            </span>

        </form>
        </div>
    </div>
</div>
</div>