<link rel="stylesheet" type="text/css" href="/css/detail.css">
<div class="detail">
    <h1>Welcome <%=user.name%></h1>
    <h2>User Information</h2>

    <div>
        <h4>Name</h4>
        <p><%=user.name%></p>
        <h4>Email</h4>
        <p><%=user.email%></p>
        <h4>Country</h4>
        <p><%=user.country%></p>
    </div>
</div>